body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  width: 640px;
}

.impactField {
  width: 150px;
  height: 150px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* дз 3 */
.custom-cursor {
  width: 110px;
  height: 110px;
  background: url("./hammer.png") no-repeat center center / contain;
  position: absolute;
  pointer-events: none;
  z-index: 1000;
}
